* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.education-section {
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px;
  color: rgb(213,183,117);
}

.edu-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
    color: rgb(213,183,117);
}

.edu-subtitle {
  text-align: center;
  color: #666;
  font-size: 15px;
  margin-bottom: 50px;
  color: white;
}

.edu-card {
  background: #fff;
  border-radius: 16px;
  display: flex;
  gap: 25px;
  padding: 22px;
  align-items: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
  margin-bottom: 35px;
  transition: 0.3s ease;
}

.edu-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 25px 55px rgba(0,0,0,0.12);
}

.edu-image {
  min-width: 180px;
  height: 130px;
  border-radius: 12px;
  overflow: hidden;
}

.edu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edu-content h3 {
  font-size: 22px;
  color: #1e40af;
  margin-bottom: 6px;
}

.edu-content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.edu-duration {
  color: rgb(213,183,117);
  font-weight: 600;
  font-size: 15px;
}

@media (max-width: 768px) {
  .edu-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .edu-image {
    width: 100%;
    height: 160px;
  }
}
