.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 0;
  background-color: rgba(24, 27, 33);
}

.home-left {
  min-width: 280px;
}

.home-left h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: white;
}

.home-left h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #555;
  color: white;
}

.home-left p {
  letter-spacing: 0.5px;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 2;
  text-align: start;
}

.highlight {
    color: rgb(213,183,117);

  /* color: #0077ff; */
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: rgb(213,183,117);;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: rgba(213,183,117, 0.5);;
}

.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 580px;
  max-width: 100%;
  height: 420px;
  border-radius: 50%;
  border: 20px solid rgb(209, 209, 223);
  box-shadow: 0px 4px 15px rgb(213,183,117);;
}
.wave {
  display: inline-block;
  animation: waveAnimation 0.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes waveAnimation {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
  }

  .home-left h1 {
    font-size: 2rem;
    color: white;

  }

  .home-left h2 {
    font-size: 1.4rem;
    color: white;
  }

  .profile-img {
    width: 200px;
    margin-top: 20px;
  }
}
