/* Navbar main */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(24,27,33);
  margin: 0;
  padding: 30px 30px;
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  
  border-bottom: 5px solid rgb(40,44,51);  /* Updated line */
}
/* Push page content below navbar */
body {
  margin: 0;
  padding-top: 60px;   /* same as navbar height */
}

/* Desktop nav links */
.nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.nav-links ul li a:hover {
  color: rgb(213,183,117);
}

/* Hamburger hidden by default */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  position: absolute;
  right: 100px;
  top: 25px;
  transition: all 0.3s ease;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Hamburger animation -> into X */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile responsive */
@media (max-width: 768px) {
  .navbar {
    justify-content: flex-start;
  }

  .nav-links {
    display: none;
    width: 70%;
    background: rgb(24,27,33);
      border: 1px solid rgb(40,44,51);  /* Updated line */

    position: absolute;
    top: 130%;
    right: 0;
    text-align: center;
    padding: 20px 0;
    border-radius: 3%;
  }

  .nav-links.open {
    display: block;
    align-items: start;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding-left: 30px;
  }

  .hamburger {
    display: flex;
  }
}
.active-link {
  color: rgb(213,183,117) !important;
  font-size: 18px;
  font-weight: bold;
}