.cursor {
  display: inline-block;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  color: gray;
  margin-left: 5px;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
