.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
}
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
.navbar a:hover {
  color: #007bff;
}

/* Home Section */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 50px;
  min-height: 100vh;
}
.home-left {
  max-width: 50%;
}
.home-left h1 {
  font-size: 2.5rem;
}
.highlight {
  color: #007bff;
}
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}
.home-right .profile-img {
  width: 250px;
  border-radius: 50%;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;  /* Prevent horizontal scroll */
  width: 100%;
   background-color: rgba(24,27,33);
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}